@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <a class="btn btn-outline btn-rounded btn-sm btn-primary" asp-controller="Product" asp-action="CreateProduct" asp-area="Admin">Add New Product</a>
                <br />
                <br />
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th class="sortable">#</th>
                            <th class="sortable">Product Name</th>
                            <th class="sortable">Category</th>
                            <th class="sortable">Price</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-truncate">@count</td>
                            <td class="text-truncate">@item.ProductName</td>
                            <td class="text-truncate">@item.Category.CategoryName</td>
                            <td class="text-truncate">
                                @item.ProductPrice
                            </td>

                            <td class="text-truncate">

                                <button type="button" class="btn btn-outline btn-rounded btn-danger" data-toggle="modal" data-target="#modalDeleteProduct-@item.ProductId">
                                    <i class="fa fa-eraser"></i>
                                </button>

                                <a asp-route-id="@item.ProductId" asp-controller="Product" asp-action="UpdateProduct" asp-area="Admin" data-id="@item.ProductId" class="btn btn-outline btn-rounded btn-sm btn-info"><i class="fa fa-edit"></i></a>
                                <a asp-route-id="@item.ProductId" asp-controller="ProductImage" asp-action="GetImagesByProductId" asp-area="Admin" data-id="@item.ProductId" class="btn btn-sm btn-outline btn-rounded btn-warning"><i class="fa fa-picture-o"></i></a>
                                <a asp-route-id="@item.ProductId" asp-controller="ProductDetail" asp-action="Index" asp-area="Admin" data-id="@item.ProductId" class="btn btn-sm btn-outline btn-rounded btn-success"><i class="fa fa-info"></i></a>
                                <a asp-route-id="@item.ProductId" asp-controller="Comment" asp-action="GetCommentsByProductId" asp-area="Admin" data-id="@item.ProductId" class="btn btn-sm btn-outline btn-rounded btn-primary"><i class="fa fa-comment"></i></a>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" role="dialog" id="modalDeleteProduct-@item.ProductId">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><b>Attention !!</b> Product Will be Deleted</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>@item.ProductName</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-route-id="@item.ProductId" asp-controller="Product" asp-action="DeleteProduct" asp-area="Admin" data-id="@item.ProductId">Delete</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </table>
            </div>
        </div>
    </div>
</section>

