@model List<ResultOfferDiscountDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th class="sortable">#</th>
                            <th class="sortable">Title</th>
                            <th class="sortable">Subtitle</th>
                            <th class="sortable">Image</th>
                            <th class="sortable">Button Title</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-truncate">@count</td>
                            <td class="text-truncate">@item.Title</td>
                            <td class="text-truncate">@item.SubTitle</td>
                            <td class="text-truncate">
                                <img src="@item.ImageUrl" width="80px;" />
                            </td>
                            <td class="text-truncate">@item.ButtonTitle</td>
                            <td class="text-truncate">

                                <button type="button" class="btn btn-outline btn-rounded btn-danger" data-toggle="modal" data-target="#modalDeleteOfferDiscount-@item.OfferDiscountId">
                                    <i class="fa fa-eraser"></i>
                                </button>

                                <a asp-route-id="@item.OfferDiscountId" asp-controller="OfferDiscount" asp-action="UpdateOfferDiscount" asp-area="Admin" data-id="@item.OfferDiscountId" class="btn btn-outline btn-rounded btn-sm btn-info"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" role="dialog" id="modalDeleteOfferDiscount-@item.OfferDiscountId">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><b>Attention !!</b>Offer Discount Will Be Deleted</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>@item.Title</p>
                                        <p>@item.SubTitle</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-route-id="@item.OfferDiscountId" asp-controller="OfferDiscount" asp-action="DeleteOfferDiscount" asp-area="Admin" data-id="@item.OfferDiscountId">Delete</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </table>
                @if (Model.Count >= 2)
                {

                    <a href="" class="btn btn-outline btn-rounded btn-danger btn-sm d" disabled>You can't add offer discount more than 2!</a>


                }

                else

                {

                    <a asp-controller="OfferDiscount" asp-action="CreateOfferDiscount" asp-area="Admin" class="btn btn-outline btn-rounded btn-primary">New Offer Discount Entry</a>

                }
            </div>
        </div>
    </div>
</section>
